<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tocel.terminal.manage.dao.VersionFileMapper">
  <resultMap id="BaseResultMap" type="com.tocel.terminal.manage.domain.VersionFile">
    <id column="version_fid" jdbcType="INTEGER" property="versionFid" />
    <result column="version_id" jdbcType="INTEGER" property="versionId" />
    <result column="version_file" jdbcType="VARCHAR" property="versionFile" />
    <result column="file_note" jdbcType="VARCHAR" property="fileNote" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="n_order" jdbcType="TINYINT" property="nOrder" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
  </resultMap>
  <sql id="Base_Column_List">
    version_fid, version_id, version_file, file_note, creat_time, n_order, md5
  </sql>
  <select id="selectAll"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_version_file 
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_version_file
    where version_fid = #{versionFid,jdbcType=INTEGER}
  </select>
   <select id="selectByVersionId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_version_file
    where version_id = #{versionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_version_file
    where version_fid = #{versionFid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByVersionId" parameterType="java.lang.Integer">
    delete from t_version_file
     where version_id = #{versionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tocel.terminal.manage.domain.VersionFile">
    insert into t_version_file (version_fid, version_id, version_file, 
      file_note, creat_time, n_order, 
      md5)
    values (#{versionFid,jdbcType=INTEGER}, #{versionId,jdbcType=INTEGER}, #{versionFile,jdbcType=VARCHAR}, 
      #{fileNote,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, #{nOrder,jdbcType=TINYINT}, 
      #{md5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tocel.terminal.manage.domain.VersionFile">
    insert into t_version_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="versionFid != null">
        version_fid,
      </if>
      <if test="versionId != null">
        version_id,
      </if>
      <if test="versionFile != null">
        version_file,
      </if>
      <if test="fileNote != null">
        file_note,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="nOrder != null">
        n_order,
      </if>
      <if test="md5 != null">
        md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="versionFid != null">
        #{versionFid,jdbcType=INTEGER},
      </if>
      <if test="versionId != null">
        #{versionId,jdbcType=INTEGER},
      </if>
      <if test="versionFile != null">
        #{versionFile,jdbcType=VARCHAR},
      </if>
      <if test="fileNote != null">
        #{fileNote,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nOrder != null">
        #{nOrder,jdbcType=TINYINT},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tocel.terminal.manage.domain.VersionFile">
    update t_version_file
    <set>
      <if test="versionId != null">
        version_id = #{versionId,jdbcType=INTEGER},
      </if>
      <if test="versionFile != null">
        version_file = #{versionFile,jdbcType=VARCHAR},
      </if>
      <if test="fileNote != null">
        file_note = #{fileNote,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nOrder != null">
        n_order = #{nOrder,jdbcType=TINYINT},
      </if>
      <if test="md5 != null">
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
    </set>
    where version_fid = #{versionFid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tocel.terminal.manage.domain.VersionFile">
    update t_version_file
    set version_id = #{versionId,jdbcType=INTEGER},
      version_file = #{versionFile,jdbcType=VARCHAR},
      file_note = #{fileNote,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      n_order = #{nOrder,jdbcType=TINYINT},
      md5 = #{md5,jdbcType=VARCHAR}
    where version_fid = #{versionFid,jdbcType=INTEGER}
  </update>
</mapper>