<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tocel.terminal.manage.dao.VersionTerminalMapper">
	<resultMap id="BaseResultMap"
		type="com.tocel.terminal.manage.domain.VersionTerminal">
		<result column="version_id" jdbcType="INTEGER" property="versionId" />
		<result column="version_terminal_id" jdbcType="INTEGER"
			property="versionTerminalId" />
		<result column="terminal_id" jdbcType="VARCHAR" property="terminalId" />
		<result column="version_pre_id" jdbcType="INTEGER" property="versionPreId" />
		<result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
	</resultMap>
	<sql id="Base_Column_List">
		version_id, version_terminal_id, terminal_id,
		version_pre_id,
		creat_time
	</sql>
	<insert id="insert" parameterType="com.tocel.terminal.manage.domain.VersionTerminal">
		insert into t_version_terminal
		(version_id, version_terminal_id,
		terminal_id,
		version_pre_id,
		creat_time)
		values (#{versionId,jdbcType=INTEGER},
		#{versionTerminalId,jdbcType=INTEGER}, #{terminalId,jdbcType=INTEGER},
		#{versionPreId,jdbcType=INTEGER}, #{creatTime,jdbcType=TIMESTAMP})
	</insert>
	<select id="selectByTerminalId" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_version_terminal where terminal_id=
		#{terminalId,jdbcType=VARCHAR}
	</select>
	<select id="selectByVersionId" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_version_terminal where version_id=
		#{versionId,jdbcType=INTEGER}
	</select>
	<insert id="insertSelective" parameterType="com.tocel.terminal.manage.domain.VersionTerminal">
		insert into t_version_terminal
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="versionId != null">
				version_id,
			</if>
			<if test="versionTerminalId != null">
				version_terminal_id,
			</if>
			<if test="terminalId != null">
				terminal_id,
			</if>
			<if test="versionPreId != null">
				version_pre_id,
			</if>
			<if test="creatTime != null">
				creat_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="versionId != null">
				#{versionId,jdbcType=INTEGER},
			</if>
			<if test="versionTerminalId != null">
				#{versionTerminalId,jdbcType=INTEGER},
			</if>
			<if test="terminalId != null">
				#{terminalId,jdbcType=VARCHAR},
			</if>
			<if test="versionPreId != null">
				#{versionPreId,jdbcType=INTEGER},
			</if>
			<if test="creatTime != null">
				#{creatTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tocel.terminal.manage.domain.VersionTerminal">
		update t_version_terminal
		<set>
			<if test="versionId != null">
				version_id = #{versionId,jdbcType=INTEGER},
			</if>
			<if test="versionTerminalId != null">
				version_terminal_id =
				#{versionTerminalId,jdbcType=INTEGER},
			</if>
			<if test="terminalId != null">
				terminal_id = #{terminalId,jdbcType=VARCHAR},
			</if>
			<if test="versionPreId != null">
				version_pre_id = #{versionPreId,jdbcType=INTEGER},
			</if>
			<if test="creatTime != null">
				creat_time = #{creatTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where version_terminal_id = #{versionTerminalId,jdbcType=VARCHAR}
	</update>
</mapper>